<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/themes/flick/jquery-ui.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link href="~/Content/sticky-footer-navbar.css" rel="stylesheet">
    </head>
    <body>

        @*Fixed navbar*@
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Validation Engine Plugin</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="~/Readme">Readme</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <!-- Begin page content -->
        <div class="container">
            <h1 class="title"></h1>
            <hr/>
            @RenderBody()
        </div>

        <footer class="footer">
            <div class="container">
                <p id="lastModifiedDate" class="text-muted"></p>
            </div>
        </footer>

        <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
        <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/jquery-ui.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.3.1/jquery.maskedinput.min.js"></script>
        <script src="~/Scripts/jquery.validationengine.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootlint/0.10.0/bootlint.min.js"></script>
        <script>
            $(function () {

                //write version
                var litVersion = $.fn.validationEngine('version'),
                    title = 'Validation Engine ' + litVersion + ' - Demo Page',
                    lastModified = document.lastModified;;

                $('.title').text(title);
                document.title = title;
                $('#lastModifiedDate').text('Last Modified ' + lastModified);

                //masks
                $(".calendar").mask("99/99/9999").datepicker({
                    numberOfMonths: 3,
                    defaultDate: "+1w"
                });
            });
        </script>

        @RenderSection("Scripts", required: false)
    </body>
</html>